html,body{
  background-image: url('../rsc/login2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}


.optionsarray{
  margin-left: 20mm;
  margin-top: 20mm;
}

.create-table{
  background-color: rgba(0,0,0,0.5) !important;

  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;

  color: #FFFFFF;

}

.create-table-window-toolpane{
  height: 50px;
  background-color: rgba(0,0,0,0.5) !important;
}

.exit-icon{
  color: #FF0000;
  float: right;
  cursor: pointer;
  vertical-align: middle;
  height: 100%;
}

.create-table-title{
  text-align: center;
  font-size: 120%;
height: 100%;

display: flex;
flex-direction: column;
justify-content: center;
}

.create-table-window-bottom{
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: rgba(1,0,0,0.3) !important;
  position: absolute;
}

.create-table-window-content{
    overflow:scroll;
}

.create-table-window-settings{
  margin-left: 7%;
  margin-top: 1%;
}
